@import "_reset_css.scss";

@mixin clearfix {
    &:after,
    &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}

html {
    font-family: Microsoft JhengHei;
    background: #060f16;
    min-width: 1300px;
    height: 100%;
    overflow: hidden;
    @supports (-webkit-touch-callout: none) {
        position: absolute;
        transform: scale(0.9);
        top: -10%;
        left: -14%;
    }
}

main {
    position: relative;
    min-width: 1200px;
    height: 1000px;
    overflow: hidden;
    margin: 0 auto;
    article {
        position: relative;
        width: 1000px;
        margin: 0 auto;
        .logo {
            position: absolute;
            background: url(../images/logo.png) no-repeat top center;
            background-size: 100%;
            width: 373px;
            height: 247px;
            top: 31px;
            left: 0;
        }
        .login {
            position: absolute;
            width: 364px;
            height: 248px;
            top: 270px;
            left: -37px;
            .t {
                width: 100%;
                height: 52px;
                margin: 0 0 33px 0;
                .n,
                .o {
                    float: left;
                    width: 171px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    font-size: 20px;
                    font-weight: bold;
                    color: #fff;
                    cursor: pointer;
                    border-radius: 25px;
                    border: 1px solid #b3aa9b;
                    box-shadow: 0px 10px 10px -5px #000;
                    background: #5a3f0f;
                    background: linear-gradient(
                        to top,
                        #d9c39a 0%,
                        #5a3f0f 9%,
                        #dbc89e 17%,
                        #9a7e52 26%,
                        #1b0a00 41%,
                        #9a7e52 70%,
                        #fff2d6 85%,
                        #9a7e52 100%
                    );
                    &:hover,
                    &:active,
                    &.active {
                        border: 1px solid #4ea353;
                        background: #0a6800;
                        background: linear-gradient(
                            to top,
                            #a6ffa6 0%,
                            #7cff79 16%,
                            #009800 43%,
                            #0a6800 61%,
                            #0b5b0f 84%,
                            #0a6800 93%,
                            #002d02 100%
                        );
                    }
                }
                .n {
                    margin: 0 18px 0 0;
                }
            }
            .m {
                width: 341px;
                height: 81px;
                margin: 0 auto 22px auto;
                .mt,
                .mb {
                    width: 341px;
                    height: 34px;
                    line-height: 34px;
                    font-size: 20px;
                    color: #fff;
                    input {
                        background: #090909;
                        border: 1px solid #ffda59;
                        width: 270px;
                        height: 32px;
                        margin: 0 0 0 14px;
                        @supports (-webkit-touch-callout: none) {
                            margin: 0 0 0 12px;
                        }
                        padding: 0 5px;
                        outline: none;
                    }
                }
                .mt {
                    margin: 0 0 13px 0;
                }
            }
            .b {
                width: 341px;
                height: 60px;
                text-align: center;
                line-height: 60px;
                font-size: 20px;
                font-weight: bold;
                color: #fff;
                margin: 0 auto;
                cursor: pointer;
                border-radius: 5px 5px 31px 31px;
                border: 1px solid #b3aa9b;
                box-shadow: 0px 10px 10px -5px #000;
                background: #5a3f0f;
                background: linear-gradient(
                    to top,
                    #d9c39a 0%,
                    #5a3f0f 9%,
                    #dbc89e 17%,
                    #9a7e52 26%,
                    #1b0a00 41%,
                    #9a7e52 70%,
                    #fff2d6 85%,
                    #9a7e52 100%
                );
                &:hover,
                &:active,
                &.active {
                    border: 1px solid #9f895c;
                    background: #dbc89e;
                    background: linear-gradient(
                        to top,
                        #fff2d6 0%,
                        #dbc89e 14%,
                        #9a7e52 37%,
                        #5a3f0f 64%,
                        #4a3207 80%,
                        #634311 93%,
                        #1b0a00 100%
                    );
                }
            }
        }
        .image {
            position: absolute;
            background: url(../images/image.png) no-repeat top center;
            background-size: 100%;
            width: 963px;
            height: 981px;
            margin: -104px 0 0 277px;
        }
    }
    .bg {
        position: absolute;
        background: url(../images/bg.jpg) no-repeat top center;
        background-size: 1920px;
        width: 100%;
        height: 100%;
        z-index: -20;
    }
}

.iebg {
    display: none;
}
